<h1>Tasks#show</h1>

<%= @task.name %>
<%= @task.description %>
<%= @task.created_by %>
<%= @task.owner %>
<%= @task.open %>
<%= button_to "Delete", @task, method: :delete, data: {turbo_confirm: "Delete task?"}, class: "button-warning" %>
<%= link_to "Cancel", tasks_path, class: "button-inverted" %>
